.nav-link {
    color: #000000
}
.night.dark-scheme.nav-link{
    --text-color: rgb(157, 52, 52);
}

.accordion-button[aria-expanded="true"]{
  color: black;
}

.accordion-button:not(.collapsed) {
  background-color: #f8f9fa;
}
.nav-link .fas {
  color: #000000
}

@font-face {
    font-family: 'myarial';
    src: url('/css/font/arlrdbd.ttf') format('opentype');
    }

